/*TYPES*/
.Hallway {
  background-color: rgb(192, 192, 37);
}

.Void {
  background-color: #000000;
}

.Entrance {
  background-color: #0000b6;
}

.Exit {
  background-color: #b40101;
}

.Shop {
  background-color: #ffa500;
}

.Fountain {
  background-color: #40e0d0;
}

.Room {
  background-color: #008000;
}

.Secret {
  background-color: #800080;
}


/*WALLS*/
.NorthWall {
  border-top: 3px inset black

}

.NorthDoor {
  border-top: 1px double

}

.NorthSecret {
  border-top: dotted

}


.SouthWall {
  border-bottom: 3px inset black

}

.SouthDoor {
  border-bottom: 1px double

}

.SouthSecret {
  border-bottom: dotted

}


.EastWall {
  border-right: 3px inset black

}

.EastDoor {
  border-right: 1px double

}

.EastSecret {
  border-right: dotted

}

.WestWall {
  border-left: 3px inset black

}

.WestDoor {
  border-left: 1px double

}

.WestSecret {
  border-left: dotted

}

.Active {
  filter: brightness(150%)
}