.Map {
  height: 100vh;
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(2, 50%)
}

.Floor {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 40vw;
  padding: 20px;
}

.gridItemB {
  margin: 20px;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.5)
}

.gridItemC {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

@media(max-width: 700px){
  .Map{
    height: 100vh;
    overflow: auto;
    display: grid;
    grid-template-columns: 100%;
  }

  .Floor {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 60vw;
    padding: 20px;
  }

  .gridItemB {
    margin: 20px;
    min-height: 30vh;
    background-color: rgba(255, 255, 255, 0.5)
  }
}